*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(levi-guzman-wF5z4_JzxaU-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.navbar{
    width: 90%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}

.navbar a{
    text-decoration: none;
}

.navbar span{
    color: orange;
}

.logo a{
    font-size: 300%;
    color: white;
}
ul{
    margin-top: -1%;

}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}

ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-top: -3%;
    transition: 0.5s;
    }

ul li a:hover{
    color: orange;
}
.info{
    margin-left: 8%;
    margin-top: 10%;
}

.info h1{
    font-size: 65px;
    color: white;
}

.info h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
    color: white;
}
.info span{
    color: orange;
}

.info a{
    text-decoration: none;
    color: black;
    background: grey;
    margin: 26px 0;
    padding: 10px 18px;
    border-radius: 20px;
    display: inline-block;
    transition: 0.5s;
}

.info a:hover{
    background: orange;
}

.image{
    width: 30%;
    height: 60%;
    position: absolute;
    right: 100px;
    bottom: 0;
}

.image img{
    position: absolute;
    height: 100%;
    left: 40%;
    transform: translate(-50%);
    bottom: 0;
}
.icons a{
    text-decoration: none;
    color: white;
}
.icons i{
    margin-left: 6%;
    color: white;
    margin-right: -60px;
    font-size: 40px;
}

.icons i:hover{
    color: aqua;
}

.in{
    font-size: 900%;
    display: flex;
    position: relative;
    left: 70%;
    bottom: 60%;
}

.in h1{
    display: flex;
    color: white;
}

.in span{
    display: flex;
    color: orange;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    top: 20%;
}
